
$color-white:				#FFFFFF;
$color-dark:				#27242b;
$color-light:				#c5d1d2;//#665b63
$color-one:					#cb6a50;
$color-two: 				#5d8895;
$color-text: 				#333;
$color-light-grey: 			#555;
$color-transparent: transparent;

/* $color-one: #f44336;
$color-two: #222;
$color-light: #aaaaaa;
$color-dark: #444; */


.bg-color-transparent{
	background-color: transparent; 
}

$color-amber: #F0A30A;
$color-red: #E51400;
$color-violet: #AA00FF;
$color-cyan: #1BA1E2; 
$color-green: #60A917;

.bg-color-amber{background-color: $color-amber !important;}


